body{
    margin: 0;
    height: 100%;
}
.header {
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.add-text {
    font: normal normalbold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #4a95eb;
    text-transform: capitalize;
}
.add-book{
    color: rgb(21, 21, 23);
}
* { box-sizing: border-box; }
/* UC2*/
.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.content{
    width: 50%;
    padding: 15px 60px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.box{
    text-align: center;
    font: normal normal normal 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.content-image{
    align-content: end;
    margin-top: -3%;
    padding-left: 100%;
    align-self:last baseline;
    
}